@page
@model Finance.ComputeModel
@{
    ViewData["Title"] = "Compute";
}

<h1>Compute</h1>

<form method="post">
    @*<div>
            Initial Value: asp-for="dto.Name"
        </div>
        <div>
            Increment Rate: @Model.dto.IncrementRate %
        </div>
        <div>
            Lower Rate: @Model.dto.LowerRate%
            <span name="@Model.dto.LowerRate"></span>
        </div>
        <div>
            Upper Rate: @Model.dto.UpperRate
            <span name="@Model.dto.UpperRate" ></span>
        </div>*@


    <div class="form-group col-xs-12 col-sm-9">
        <label asp-for="dto.Name"></label>
        <input asp-for="dto.Name" readonly class="form-control" />
    </div>
    <div class="form-group col-xs-12 col-sm-5">
        <label asp-for="dto.InitialValue"></label>
        <input asp-for="dto.InitialValue" readonly class="form-control" />
    </div>
    <div class="form-group col-xs-12 col-sm-5">
        <label asp-for="dto.IncrementRate" class=" control-label"></label>
        <div class="input-group ">
            <input asp-for="dto.IncrementRate" readonly class="form-control" />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-5">
        <label asp-for="dto.LowerRate" class=" control-label"></label>
        <div class="input-group ">
            <input asp-for="dto.LowerRate" readonly class="form-control" />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-5">
        <label asp-for="dto.UpperRate" class=" control-label"></label>
        <div class="input-group ">
            <input asp-for="dto.UpperRate" readonly class="form-control" />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-5">
        <label asp-for="dto.TotalNpvAmount"></label>
        <input asp-for="dto.TotalNpvAmount" readonly class="form-control"/>
    </div>

    <table class="table">
        <tr>
            <td>Year</td>
            <td>Cash Flow</td>
            <td>dto Amount</td>
        </tr>

        @{int i = 0;}
        @foreach (var n in Model.dto.CashFlows)
        {
            i++;
            <tr>
                <td>@i  @Html.HiddenFor(a => n.Id)</td>
                <td>@Html.DisplayFor(a => n.Amount) @Html.HiddenFor(a => n.Amount)</td>
                <td>@Html.DisplayTextFor(a => n.NpvAmount) @Html.HiddenFor(a => n.NpvAmount)</td>
            </tr>
        }

    </table>

    <button type="submit">Save</button>
    <a asp-page="./List">All Finances</a>

</form>