@page "{npvId:int}"
@model Finance.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Npv.Name</h1>

<div>
    Initial Value: @string.Format("{0:C}", Model.Npv.InitialValue)
</div>
<div>
    Increment Rate: @Model.Npv.IncrementRate
</div>
<div>
    Upper Rate: @Model.Npv.UpperRate
</div>
<div>
    Lower Rate: @Model.Npv.LowerRate
</div>
<div>
    Current NPV Amount: @string.Format("{0:C}", Model.Npv.TotalNpvAmount)
</div>


<table class="table">
    <tr>
        <td>Year</td>
        <td>Cash Flow</td>
        <td>NPV Amount</td>
    </tr>

    @{int i = 0;}
    @foreach (var npv in Model.Npv.CashFlows)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@string.Format("{0:C}", npv.Amount)</td>
            <td>@string.Format("{0:C}", npv.NpvAmount)</td>
        </tr>
    }

</table>


<a asp-page="./List" >Back to All Finances</a>

