@page
@model Finance.ListModel
@{
    
}
  

<h1>Net Present Value</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <span>Search</span>
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <input type ="submit" value="Search" />
        </div>
    </div>
</form>


<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Initial Value</td>
        <td>NPV Amount</td>
    </tr>

    @foreach (var npv in Model.Npvs)
    {

<tr>
    <td>@npv.NpvId</td>
    <td>@npv.Name</td>
    <td>@npv.InitialValue</td>
    <td>@npv.TotalNpvAmount</td>
    <td>
        <a asp-page="./Detail"
           asp-route-npvId="@npv.NpvId"> View</a>
    </td>
    <td>
        <a asp-page="./Edit"
           asp-route-npvId="@npv.NpvId"> Edit</a>
    </td>
    <td>
        <a asp-page="./Delete"
           asp-route-npvId="@npv.NpvId"> Delete</a>
    </td>
</tr>
    }

</table>

<a asp-page="./Add">Add New</a>
